body {
    background-color: #151A1F;
    color: white;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

h1 {
    margin: 0;
}

.separate-overlay-wrap {
    margin: 0rem 5rem 0rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.overlay {
    position: absolute;
    top: 0;
    height: auto;
    pointer-events: none;
}

.big-wrap {
    display: grid;
    grid-template-rows: auto auto auto;
}

.navbar {
    display: flex;
    margin: 1rem 0 0.6rem 0;
    justify-content: space-between;
}

.top-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

h1.my-name, .git {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 19px;
    font-weight: 500;
}

h1.location, .funky-time, .about {
    display: flex;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 19px;
    font-weight: 300;
}

h1.hey, h1.a {
    font-family: "Plus Jakarta Sans";
    font-size: 93px;
    font-weight: 500;
    /* margin: 2rem 0 1rem 0; */
}

.awhatami-wrap{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.whatami {
    font-family: 'Prata';
    font-size: 93px;
    font-weight: 400;
}

p {
    font-family: "Plus Jakarta Sans";
    font-size: 19px;
    font-weight: 300;
}

.another-big-wrap {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

p.desc {
    width: 815px;
}

.main-text {
    margin-top: 7rem;
}

.sub-head {
    display: flex;
    gap: 1.5rem;
}
/* 1 because we want it to be brought on top */
.nine {
    z-index: 1;
    margin-bottom: 0.5rem;
}
/* 0 bc it's in the middle */
.eight {
    z-index: 0;
}

/* negative margin means making items overlap (has an opposite effect) */
.eight, .seven {
    margin-top: -5.7rem;
    transition: all 400ms ease-in-out;
}

.square-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-in-out;
}

.rec-wrap {
    display: flex;
    flex-direction: column; 
    width: 230px;
    height: auto;
}

.b-wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}

.button-1, .button-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-basis: 100%;
    transition: all 400ms ease-in-out;
}

.button-1:hover, .button-2:hover {
    transform: scale(1.2, 1.2);
    transition: 500ms;

    .eight, .seven {
        margin-top: -11.7rem;
        transition: 500ms;
    }

    .seven {
        z-index: 1;
    }

    .eight {
        z-index: 0;
    }
}

h1.button-name {
    color: rgba(255, 255, 255, 0.58);
    font-family: Prata;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
}